body {
    font-family: 'Arial', sans-serif;
    background: url("https://assets.codepen.io/209981/iStock-1490023614.jpg");
    background-size: 100% 100%;
	background-position: center 50%;
    transition: all ease 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 

.container {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

.title {
    color: #23b5f8;
    margin-bottom: 20px;
}

.question-container {
    margin: 20px 0;
}


.feedback-container {
    font-size: 20px;
    font-weight: bold;
    color: rgb(216, 2, 205);
    background-color: wheat;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.submit-btn {
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 10px;
    border: 2px solid #37fffe;
	box-shadow: -2px 2px #fc00a3;
    background-color: #a19ca1;
    color: rgb(37, 11, 156);
    cursor: pointer;
}

#question-container {
    color: #eaedee;
    border: 2px solid #37fffe;
	box-shadow: -2px 2px #fc00a3;
}

.hidden {
    display: none;
}

.next-btn {
    width: 150px;
    font-size: 1em;
    font-family: 'Lucida Sans';
    padding: 3px;
    margin-top: 10px;
    border: 2px solid #37fffe;
	box-shadow: -2px 2px #fc00a3;
    background-color: #86928c;
    color: rgb(38, 4, 189);
    cursor: pointer;
}

.back-to-main {
    margin-top: 20px;
    text-align: center;
}

.back-btn {
	position: fixed;
	left: 10px;
	top: 10px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #eaedee;
    color: rgb(36, 35, 35);
    font-size: 25px;
    border: 30vh rgb(212, 19, 19);
    border-radius: 10vh 0 0 10vh ;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    width: 300px;
    margin: 0 auto ;
    border: 2px solid #37fffe;
	box-shadow: -2px 2px #fc00a3;

}

.image-piece {
    width: 100px;
    height: 100px;
    max-width: 300px;
    max-height: 300px;
    margin: 0;
    background-size: 300px 300px;
    background-position: center;
    background-color: black; 
}

.image-visible {
    background-color: transparent;
}
